* {
  margin: 0;
}

.App {
  min-width: 280px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: gold;
  font-family: "Poppins";
}
/* Splash screen starts here. */
.Splash {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: white;
  justify-content: center;
  background-color: hsl(174, 100%, 29%);
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: opacity 2s ease-out;
}

.Splash.hide {
  opacity: 0;
  pointer-events: none;
}

.Splash img {
  width: 100px;
  height: 100px;
  align-self: center;
}

/* Splash screen ends here */

/* ScreenOne Starts here */
.ScreenOne {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
}
.ScreenOne img {
  width: 80%;
}

span {
  color: hsl(174, 100%, 29%);
}
.Dots {
  display: flex;
  font-size: 4rem;
  margin: 20px 0px;
  color: hsl(0, 0%, 50%, 0.5);
}
.ScreenOne h4 {
  font-size: 1.5rem;
  width: 80%;
  text-align: center;
  margin-top: 50px;
}

button {
  border: none;
  color: white;
  background-color: hsl(174, 100%, 29%);
  padding: 10px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Poppins";
}
/* ScreenOne ends here */

/* SignUp starts here */
.SignUp {
  background-color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.SignUp p {
  margin-top: 40px;
  color: hsl(174, 100%, 29%);
  font-size: 1.2rem;
  font-weight: normal;
}

.Phone {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.Phone #prefix {
  flex-basis: 30%;
  width: 100%;
}

.Phone #suffix {
  flex-basis: 70%;
  width: 100%;
}

.Icons {
  background-color: hsl(174, 100%, 29%, 0.2);
  display: flex;
  overflow: hidden;
  padding: 2px;
  align-items: center;
  border-radius: 10px;
  gap: 5px;
  position: relative;
}

.Icons img {
  margin-left: 10px;
}
.ArrowDown {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 15px;
}
input {
  border: none;
  outline: none;
  height: 100%;
  background-color: initial;
  padding: 10px;
  color: hsl(174, 100%, 29%);
}

#Password {
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 10px;
}
/* SignUp ends here */

/* Sign In starts here */
.SignIn {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 50px;
  width: 100%;
}
.Welcome {
  background-color: hsl(174, 100%, 29%);
  padding: 20px;
  color: white;
  height: 25%;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.Welcome h2 {
  margin: 10px 0px;
}

.Entry img {
  height: 20px;
  width: 20px;
}
.Entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  gap: 20px;
}
.Entry button {
  width: 100%;
}
.EyeLogin {
  position: absolute;
  right: 10px;
}
.Entry .Icons {
  position: relative;
  width: 100%;
  background-color: white;
  border: 1px solid black;
}

.Entry input {
  color: black;
}

.ForgotPassword {
  display: flex;
  font-size: 0.6rem;
  margin-top: -10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.Remember {
  display: flex;
  align-items: center;
}
#CheckBox {
  accent-color: hsl(174, 100%, 29%);
  margin-right: 10px;
}

.SignIn button {
  margin: 30px 0px;
}

.LoginRedirect p,
.LoginRedirect span {
  margin-top: -20px;
  font-size: 0.9rem;
}
.LoginRedirect p {
  color: black;
}

.CreateAccount {
  margin-top: -30px;
  display: flex;
  font-size: 0.9rem;
}

span {
  cursor: pointer;
}
/* Sign In ends here */

/* Home page starts here */
.HomePage {
  height: 100vh;
  width: 100%;
  background-color: white;
}

.NavSection {
  width: 100%;
  padding: 20px;
}

.Location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin-bottom: 30px;
}

.LocaleSpot {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.Search {
  background-color: hsl(0, 0%, 50%, 0.3);
  padding: 5px 10px;
  margin-top: 10px;
  align-self: center;
  width: 80%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Home page ends here */

@media (min-width: 350px) {
  .Prefix {
    flex-basis: 40%;
  }
}
